#siteTitle {
  color: white;
  background-color: blue;
  font-size: 30px;
  margin-top: 3%;
  padding-left: 3%;
  padding-top: 5px;
  padding-bottom: 5px;
}

#textInput {
  resize: none;
  width: 30%;
  height: 200px;
  margin-left: 5%;
  margin-top: 3%;
  padding: 1%;
  border-radius: 5%;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  letter-spacing: 2px;
}

#textInput:focus {
  border-color: blue;
}

/* generics : { flex , ... } */

.columnContainer {
  display: flex;
  flex-direction: column;
}

.button {
  width: 100px;
  height: 20px;
  margin-left: 7%;
  margin-top: 2%;
  padding-bottom: 20px;
}
